In [83]:
import numpy as np
import pandas as pd

In [84]:
PATH = '/data/'
ext = '.csv'
#full data from 1991
start1 = 2017 #1968
end1 = 2017
ft1 = 'atp_matches_'

start2 = 1991
end2 = 2017
ft2 = 'atp_matches_futures_'


start3 = 1991
end3 = 2018
ft3 = 'atp_matches_qual_chall_'

players = 'atp_players.csv'

rankings = ['atp_rankings_00s.csv','atp_rankings_10s.csv','atp_rankings_70s.csv','atp_rankings_80s.csv','atp_rankings_90s.csv',
            'atp_rankings_current.csv']

In [85]:
def readfiles(ft,st,en):
    l = []
    for i in range(st,en+1):
        p = ft + str(i)+ ext
        print(p)
        df = pd.read_csv(p)
        l.append(df)
        #print(df.head(2))
    return l

In [86]:
f1 = readfiles(ft1,start1,end1)

atp_matches_2017.csv

In [87]:
all_matches = pd.concat(f1)

In [88]:
all_matches.shape

(2886, 49)

In [89]:
all_matches.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2017-M020,Brisbane,Hard,32,A,20170102,300,105777,7.0,NaN,...,7.0,4.0,0.0,69.0,49.0,36.0,9.0,12.0,2.0,5.0
1,2017-M020,Brisbane,Hard,32,A,20170102,299,105777,7.0,NaN,...,0.0,4.0,3.0,61.0,28.0,24.0,16.0,10.0,2.0,4.0
2,2017-M020,Brisbane,Hard,32,A,20170102,298,105453,3.0,NaN,...,5.0,9.0,2.0,61.0,37.0,27.0,10.0,10.0,0.0,2.0
3,2017-M020,Brisbane,Hard,32,A,20170102,297,105683,1.0,NaN,...,7.0,4.0,0.0,84.0,61.0,39.0,14.0,14.0,2.0,4.0
4,2017-M020,Brisbane,Hard,32,A,20170102,296,105777,7.0,NaN,...,14.0,6.0,5.0,82.0,37.0,29.0,24.0,14.0,4.0,7.0

In [90]:
all_matches.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
count,2886.000000,2.886000e+03,2886.000000,2886.000000,1222.000000,2289.000000,2884.000000,2869.000000,2869.000000,2886.000000,...,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000,2855.000000
mean,58.382536,2.017055e+07,234.486486,106526.061677,7.742226,186.367409,28.074010,78.402928,1688.232834,107972.939709,...,5.078809,5.526445,3.550963,83.294221,49.919790,33.683012,15.479510,10.442732,4.814011,8.628722
std,42.297230,2.931579e+02,87.072903,7029.203070,7.032381,8.334779,4.433706,132.922976,1865.480040,11128.050057,...,4.085168,5.070552,2.508872,30.204099,19.847409,14.662330,7.387952,5.444000,3.394534,4.336674
min,4.000000,2.017010e+07,1.000000,100644.000000,1.000000,163.000000,17.336071,1.000000,1.000000,100644.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,2.017023e+07,208.000000,104655.000000,3.000000,183.000000,25.068446,19.000000,635.000000,104655.000000,...,2.000000,2.000000,2.000000,61.000000,36.000000,23.000000,10.000000,8.000000,2.000000,6.000000
50%,32.000000,2.017053e+07,276.000000,105227.000000,5.000000,185.000000,28.454483,44.000000,989.000000,105373.000000,...,4.000000,4.000000,3.000000,80.000000,47.000000,31.000000,14.000000,10.000000,4.000000,8.000000
75%,64.000000,2.017081e+07,289.000000,105958.000000,10.000000,190.000000,31.279945,83.000000,2135.000000,106063.250000,...,7.000000,8.000000,5.000000,100.000000,61.000000,41.000000,20.000000,14.000000,7.000000,11.000000
max,128.000000,2.017112e+07,300.000000,202382.000000,33.000000,208.000000,39.192334,1995.000000,12560.000000,207759.000000,...,22.000000,46.000000,17.000000,237.000000,157.000000,125.000000,49.000000,41.000000,24.000000,30.000000

In [91]:
all_matches.info()
all_matches=all_matches.dropna(axis=0,how='all')
all_matches = all_matches[np.isfinite(all_matches['loser_rank'])]
all_matches = all_matches[np.isfinite(all_matches['winner_rank'])]
#print("shape is ",all_matches.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2886 entries, 0 to 2885
Data columns (total 49 columns):
tourney_id            2886 non-null object
tourney_name          2886 non-null object
surface               2886 non-null object
draw_size             2886 non-null int64
tourney_level         2886 non-null object
tourney_date          2886 non-null int64
match_num             2886 non-null int64
winner_id             2886 non-null int64
winner_seed           1222 non-null float64
winner_entry          366 non-null object
winner_name           2886 non-null object
winner_hand           2884 non-null object
winner_ht             2289 non-null float64
winner_ioc            2886 non-null object
winner_age            2884 non-null float64
winner_rank           2869 non-null float64
winner_rank_points    2869 non-null float64
loser_id              2886 non-null int64
loser_seed            700 non-null float64
loser_entry           561 non-null object
loser_name            2886 non-null object
loser_hand            2881 non-null object
loser_ht              1977 non-null float64
loser_ioc             2886 non-null object
loser_age             2877 non-null float64
loser_rank            2848 non-null float64
loser_rank_points     2848 non-null float64
score                 2886 non-null object
best_of               2886 non-null int64
round                 2886 non-null object
minutes               2836 non-null float64
w_ace                 2855 non-null float64
w_df                  2855 non-null float64
w_svpt                2855 non-null float64
w_1stIn               2855 non-null float64
w_1stWon              2855 non-null float64
w_2ndWon              2855 non-null float64
w_SvGms               2855 non-null float64
w_bpSaved             2855 non-null float64
w_bpFaced             2855 non-null float64
l_ace                 2855 non-null float64
l_df                  2855 non-null float64
l_svpt                2855 non-null float64
l_1stIn               2855 non-null float64
l_1stWon              2855 non-null float64
l_2ndWon              2855 non-null float64
l_SvGms               2855 non-null float64
l_bpSaved             2855 non-null float64
l_bpFaced             2855 non-null float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.1+ MB

In [92]:
winnerRank=all_matches['winner_rank'].tolist()
loserRank=all_matches['loser_rank'].tolist()
winnerid=all_matches['winner_id'].tolist()
loserid=all_matches['loser_id'].tolist()
tourneyids=all_matches['tourney_id'].tolist()

In [93]:
for i in range(len(tourneyids)):
        date=tourneyids[i]
        temp=date.split('-')
        tourneyids[i]=temp[0]

In [94]:
playerYearDic={}
for i in range(len(winnerid)):
    key1=str(int(winnerid[i]))+tourneyids[i]
    key2=str(int(loserid[i]))+tourneyids[i]
    if key1 not in playerYearDic:
         playerYearDic[key1]=[winnerRank[i],winnerRank[i]]
    else:
         playerYearDic[key1].append(winnerRank[i])
    if key2 not in playerYearDic:
         playerYearDic[key2]=[loserRank[i],loserRank[i]]
    else:
         playerYearDic[key2].append(loserRank[i])

In [95]:
winnerBeforeMatch,loserBeforeMatch=[],[]
for i in range(len(winnerid)):
    key1=str(int(winnerid[i]))+tourneyids[i]
    key2=str(int(loserid[i]))+tourneyids[i]
    winnerBeforeMatch.append(playerYearDic[key1][0])
    playerYearDic[key1].pop(0)
    loserBeforeMatch.append(playerYearDic[key2][0])
    playerYearDic[key2].pop(0)

In [96]:
all_matches['winner_rank']=pd.Series(winnerBeforeMatch, index=all_matches.index)
all_matches['loser_rank']=pd.Series(loserBeforeMatch, index=all_matches.index)


#all_matches.to_csv('projectfinal11.csv', encoding='utf-8', index=False)

In [97]:
all_matches.to_csv('winnerprojectfinal.csv', encoding='utf-8', index=False)
all_matches.to_csv('loserprojectfinal.csv', encoding='utf-8', index=False)
winnerPerspectiveDF=pd.read_csv('winnerprojectfinal.csv')
loserPerspectiveDF=pd.read_csv('loserprojectfinal.csv')

In [98]:
winnerPerspectiveDF['y'] = pd.Series(winnerRank, index=winnerPerspectiveDF.index)
loserPerspectiveDF['y'] = pd.Series(loserRank, index=loserPerspectiveDF.index)

In [99]:
winnerPerspectiveDF.to_csv('winnerprojectfinal.csv', encoding='utf-8', index=False)
loserPerspectiveDF.to_csv('loserprojectfinal.csv', encoding='utf-8', index=False)

In [100]:
to_drop = ['tourney_id','tourney_date','winner_id','winner_name','loser_id','loser_name','score']
cat_cols = ['tourney_name','surface','draw_size','tourney_level','winner_entry','winner_hand','winner_ioc',
            'loser_entry','loser_hand','loser_ioc','best_of','round']
num_cols = ['match_num','winner_seed','winner_ht','winner_age','winner_rank_points',
            'loser_seed','loser_ht','loser_age','loser_rank_points','minutes',
            'w_ace','w_df','w_svpt','w_1stIn','w_1stWon','w_2ndWon','w_SvGms','w_bpSaved',
             'w_bpFaced','l_ace','l_df','l_svpt','l_1stIn','l_1stWon','l_2ndWon','l_SvGms','l_bpSaved','l_bpFaced']

In [101]:
winnerPerspectiveDF = winnerPerspectiveDF.fillna(winnerPerspectiveDF.mean())
loserPerspectiveDF = loserPerspectiveDF.fillna(loserPerspectiveDF.mean())
for i in cat_cols:
    winnerPerspectiveDF = winnerPerspectiveDF.fillna(winnerPerspectiveDF[i].value_counts().index[0])
    loserPerspectiveDF = loserPerspectiveDF.fillna(loserPerspectiveDF[i].value_counts().index[0])
winnerPerspectiveDF = pd.get_dummies(winnerPerspectiveDF, columns=cat_cols) 
loserPerspectiveDF = pd.get_dummies(loserPerspectiveDF, columns=cat_cols) 
winnerPerspectiveDF.head()

,tourney_id,tourney_date,match_num,winner_id,winner_seed,winner_name,winner_ht,winner_age,winner_rank,winner_rank_points,...,best_of_3,best_of_5,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,2017-M020,20170102,300,105777,7.0,Grigor Dimitrov,188.0,25.634497,17.0,2035.0,...,1,0,1,0,0,0,0,0,0,0
1,2017-M020,20170102,299,105777,7.0,Grigor Dimitrov,188.0,25.634497,17.0,2035.0,...,1,0,0,0,0,0,0,0,0,1
2,2017-M020,20170102,298,105453,3.0,Kei Nishikori,178.0,27.011636,5.0,4905.0,...,1,0,0,0,0,0,0,0,0,1
3,2017-M020,20170102,297,105683,1.0,Milos Raonic,196.0,26.017796,3.0,5450.0,...,1,0,0,1,0,0,0,0,0,0
4,2017-M020,20170102,296,105777,7.0,Grigor Dimitrov,188.0,25.634497,17.0,2035.0,...,1,0,0,1,0,0,0,0,0,0

In [102]:
def normalize(dff,col_name_list):
    result = dff.copy()
    for feature_name in col_name_list:
        max_value = dff[feature_name].max()
        min_value = dff[feature_name].min()
        result[feature_name] = (dff[feature_name] - min_value) / (max_value - min_value)
    return result


winnerPerspectiveDF = normalize(winnerPerspectiveDF,num_cols)
loserPerspectiveDF = normalize(loserPerspectiveDF,num_cols)
winnerPerspectiveDF.head()

,tourney_id,tourney_date,match_num,winner_id,winner_seed,winner_name,winner_ht,winner_age,winner_rank,winner_rank_points,...,best_of_3,best_of_5,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,2017-M020,20170102,1.000000,105777,0.1875,Grigor Dimitrov,0.555556,0.379682,17.0,0.161889,...,1,0,1,0,0,0,0,0,0,0
1,2017-M020,20170102,0.996656,105777,0.1875,Grigor Dimitrov,0.555556,0.379682,17.0,0.161889,...,1,0,0,0,0,0,0,0,0,1
2,2017-M020,20170102,0.993311,105453,0.0625,Kei Nishikori,0.333333,0.442691,5.0,0.390428,...,1,0,0,0,0,0,0,0,0,1
3,2017-M020,20170102,0.989967,105683,0.0000,Milos Raonic,0.733333,0.397219,3.0,0.433827,...,1,0,0,1,0,0,0,0,0,0
4,2017-M020,20170102,0.986622,105777,0.1875,Grigor Dimitrov,0.555556,0.379682,17.0,0.161889,...,1,0,0,1,0,0,0,0,0,0

In [103]:
winnerPerspectiveDF = winnerPerspectiveDF.drop(to_drop, axis=1)
loserPerspectiveDF = loserPerspectiveDF.drop(to_drop, axis=1)
winnerPerspectiveDF.head()

,match_num,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_seed,loser_ht,loser_age,loser_rank,...,best_of_3,best_of_5,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,1.000000,0.1875,0.555556,0.379682,17.0,0.161889,0.06250,0.333333,0.463758,5.0,...,1,0,1,0,0,0,0,0,0,0
1,0.996656,0.1875,0.555556,0.379682,17.0,0.161889,0.00000,0.733333,0.420482,3.0,...,1,0,0,0,0,0,0,0,0,1
2,0.993311,0.0625,0.333333,0.442691,5.0,0.390428,0.03125,0.444444,0.670839,4.0,...,1,0,0,0,0,0,0,0,0,1
3,0.989967,0.0000,0.733333,0.397219,3.0,0.433827,0.12500,0.488889,0.619337,9.0,...,1,0,0,1,0,0,0,0,0,0
4,0.986622,0.1875,0.555556,0.379682,17.0,0.161889,0.09375,0.488889,0.303529,8.0,...,1,0,0,1,0,0,0,0,0,0

In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import math

import warnings
warnings.filterwarnings('ignore')


from sklearn import metrics

from scipy.special import legendre
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [105]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor

In [106]:
Y1 = pd.DataFrame(winnerPerspectiveDF['y'])
Y2 = pd.DataFrame(loserPerspectiveDF['y'])
winnerPerspectiveDF = winnerPerspectiveDF.drop(['y'], axis=1)
loserPerspectiveDF = loserPerspectiveDF.drop(['y'], axis=1)

In [107]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2 
winnerPerspectiveDF=SelectKBest(chi2, k=10).fit_transform(winnerPerspectiveDF,Y1)
loserPerspectiveDF=SelectKBest(chi2, k=10).fit_transform(loserPerspectiveDF, Y2)

In [108]:
X1 = winnerPerspectiveDF
X2 = loserPerspectiveDF
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, Y1, test_size=0.33, random_state=42)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, Y2, test_size=0.33, random_state=42)

In [109]:
from sklearn.ensemble import RandomForestClassifier
def randomForest(est,dep,X_train,X_test, y_train,y_test):
    print("Random Forest")
    rdforest = RandomForestClassifier(n_estimators=est,max_depth=dep)
    rdforest.fit(X_train, y_train)
    rdpreds = rdforest.predict(X_test)
    print ("\tMean Squared Error: ",metrics.mean_squared_error(y_test,rdpreds))
    print ("\tR2 Score: ",metrics.r2_score(y_test,rdpreds))
    print ("\tTraining Accuracy: ",rdforest.score(X_train, y_train)*100)
    print ("\tTest Accuracy: ",metrics.accuracy_score(np.round(y_test),np.round(rdpreds))*100)
    #return rdpreds
randomForest(100,70,X1_train,X1_test, y1_train,y1_test)
randomForest(100,70,X2_train,X2_test, y2_train,y2_test)

Random Forest
	Mean Squared Error:  3085.9198717948716
	R2 Score:  0.7911162639469755
	Training Accuracy:  99.15745129015271
	Test Accuracy:  47.32905982905983
Random Forest
	Mean Squared Error:  3422.253205128205
	R2 Score:  0.9101629795267604
	Training Accuracy:  94.99736703528173
	Test Accuracy:  12.713675213675213

In [110]:
from xgboost import XGBClassifier
def xgBoost(X_train,X_test, y_train,y_test):
    print("Xg Boost")
    xgboost1 = XGBClassifier()
    xgboost1.fit(X_train, y_train)
    xgpreds = xgboost1.predict(X_test)
    print ("\tMean Squared Error: ",metrics.mean_squared_error(y_test,xgpreds))
    print ("\tR2 Score: ",metrics.r2_score(y_test,xgpreds))
    print ("\tTraining Accuracy: ",xgboost1.score(X_train, y_train)*100)
    print ("\tTest Accuracy: ",metrics.accuracy_score(np.round(y_test),np.round(xgpreds))*100)
    #return xgpreds
xgBoost(X1_train,X1_test, y1_train,y1_test)
xgBoost(X2_train,X2_test, y2_train,y2_test)

Xg Boost
	Mean Squared Error:  2952.3792735042734
	R2 Score:  0.8001555327046157
	Training Accuracy:  90.52132701421802
	Test Accuracy:  80.34188034188034
Xg Boost
	Mean Squared Error:  1630.4594017094016
	R2 Score:  0.9571990715261333
	Training Accuracy:  63.507109004739334
	Test Accuracy:  14.209401709401709